.header-area {
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}
.header-area img {
  width: 75px;
  height: 90px;
  margin-right: 15px;
}
.header-area h2 {
  color: #fff;
  font-family: Rancho;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
