.header-hero {
  height: 800px;
  background-size: cover;
}
.header-hero h2 {
  color: #fff;
  font-family: Rancho;
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header-hero p {
  color: #fff;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}
.btn {
  background: #e3b577;
  color: #242222;
  font-family: Rancho;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px;
}
.hero-texts {
  transform: translateX(50%);
}
